<div class="content">
  <div class="center">
    <div >Welcome, {{user.username}}
  </div>
  <div>
    <img src="{{user.profile_picture}}" class="personalPhoto1" alt="mystery man">
  </div>
  <div>Followers: {{followers}}</div>

    <h1>Update User</h1>
    {{#if success}}
    <p style="color: green;">
      {{success}}
    </p>
    {{/if}}
    <form class="user-form" action="" method="post">
      <input type="hidden" name="_id" value="{{user._id}}">
       <input type="hidden" name="profile_picture" value="{{user.profile_picture}}">
      <p>
        <input type="text" name="username" value="{{user.username}}" placeholder="Username">
      </p>
      <p>
        <input type="text" name="fname" value="{{user.fname}}" placeholder="First Name">
      </p>
      <p>
        <input type="text" name="lname" value="{{user.lname}}" placeholder="Last Name">
      </p>
      <p>
        <input type="text" name="website" value="{{user.bio}}" placeholder="Bio">
      </p>
      <p>
        <input type="text" name="bio" value="{{user.website}}" placeholder="Website">
      </p>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>

</div>
