<div class="content">
  <div class="search-header">
    <i class="fa fa-search search-icon"></i>
    <input class="search-field" type="text" placeholder="Search..."></input>
    <button class="button save-search-button" onclick="search()">Search</button>

    <form class="user-form" action="/search/saveSearch" method="post">
      <input type="hidden" name="_id" value="{{user._id}}">
      <p>
        <input type="text" name="search" value="" placeholder="Search...">
      </p>
      <p>
        <button type="submit">Submit</button>
      </p>
    </form>

  </div>
  <div class="search-results">
    <div class="results-panel">
      <div class="results-label search-result">

        {{#if user.searchs}}
          <h2>Current Searches</h2>
          {{#each user.search}}
            <form action="/search/removeSearch" method="post">
              {{this}}
              <input type="hidden" name="search" value="{{this}}">
              <button type="submit">Delete</button>
            </form>
          {{/each}}
        {{/if}}

      </div>
      {{#each content}}
        <div class="results-label search-result">
          <div>
            <div>
              <script language="javascript">
                var jsonDate = {{this.created_time}};
                var date = new Date(parseInt(jsonDate) * 1000);
                document.write(date.getDate() + "/" + (date.getMonth()+1) +"/"+date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes());
              </script>
            </div>
            <div>
                <img src="{{this.images.thumbnail.url}}" class="search-image"/>
            </div>
          </div>
          <div class="search-likes">
            <span class="button">Likes: {{this.likes.count}}</span>
            <span class="button">Comm: {{this.comments.count}}</span>
          </div>
        </div>
      {{/each}}
  </div>
</div>

<h1>Manage Search</h1>
<form class="user-form" action="/searchs/add" method="post">
  <input type="hidden" name="_id" value="{{user._id}}">
  <p>
    <input type="text" name="search" value="" placeholder="search Name">
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>


