<div class="content">
  <div class="search-header">
    <i class="fa fa-search search-icon"></i>
    <input class="search-field" type="text" value="{{query}}" placeholder="Search..."></input>
    <button class="button save-search-button" onclick="search()">Search</button>
    <form class="user-form" action="/search/saveSearch" method="post">
      <input type="hidden" name="tag" value="{{query}}">
        <button class="button save-search-button" type="submit">Save Search</button>
    </form>
    
  </div>
  <div class="search-results">
    <div class="results-panel">
      {{#each content}}
        <div class="results-label search-result">
          <div>
            <div>
              <script language="javascript">
                var jsonDate = {{this.created_time}};
                var date = new Date(parseInt(jsonDate) * 1000);
                document.write(date.getDate() + "/" + (date.getMonth()+1) +"/"+date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes());
              </script>
            </div>
            <div>
              <img src="{{this.images.thumbnail.url}}" class="search-image"/>
            </div>
          </div>
          <div class="search-likes">
            <span class="button">Likes: {{this.likes.count}}</span>
            <span class="button">Comm: {{this.comments.count}}</span>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="saved-searches">
    <h1>Saved Searches</h1>
      <div class="results-label search-result">
        {{#if user}}
          <h2>Current Searches</h2>
          {{#each user.search}}
            <form action="/search/removeSearch" method="post">
              <span onclick="openSavedSearch(this)">{{this}}</span>
              <input type="hidden" name="tag" value="{{this}}">
              <button class="button save-search-button" type="submit">Delete</button>
            </form>
          {{/each}}
        {{/if}}
      </div>
  </div>
</div>
